@import "./variables.scss";


h1 {
  margin: 0;
  font-family: $font-header;
  font-size: 24pt;
  color: $color-header;
}

h2 {
  margin: $box-outer-padding 0 $box-padding 0;
  font-family: $font-sub;
  font-size: 16pt;
  color: $color-sub;

  &:first-of-type { margin-top: $box-padding; }
}

button[generic], a[button][generic] {
  padding: 10pt 16pt;
  font-family: $font-major;
  font-size: 12pt;
  color: var(--color, #{$bg-darker});
  text-decoration: none;
  cursor: pointer;
  background-color: var(--bg, #dddddd);
  border: none;
  border-radius: 4pt;
  outline: none;
  transition:
    background-color .1s ease-out,
    color .1s ease-out;

  &:hover { background-color: var(--bg-hov, #999999); }
  &:active { opacity: .8; }

  &[small] {
    padding: 6pt 9pt;
    font-family: $font-regular;
    font-size: 11pt;
    border-radius: 2pt;
  }

  &[dark] {
    color: $color-sub;
    background: $bg-darker;

    &:hover {
      color: $color-header;
      background: black;
    }
  }

  &[bright] { --bg-hov: #{$bg-bright}; }
  &[warning] { --bg-hov: #{$warning-major}; }
  &[info] { --bg-hov: #{$info-major}; }
  &[success] { --bg-hov: #{$success-major}; }
}

div[center] {
  display: flex;
  justify-content: center;
  width: 100%;
}

a.pretty {
  display: inline-block;
  margin: $box-padding / 3 $box-padding / 2 $box-padding / 3 0;
  font-family: $font-major;
  font-size: 11pt;
  color: $primary-blue;
  text-decoration: none;
  opacity: .5;

  &:hover {
    text-decoration: underline;
    opacity: 1;
  }

  &.block {
    display: block;
  }
}

.toggle-cont {
  display: grid;
  grid-template-columns: auto 1fr;

  &.btn-only { display: flex; }

  .toggle {
    display: block;
    padding: 7pt 12pt;
    margin: 5px 10pt 15px 0;
    font-family: $font-regular;
    font-size: 14pt;
    color: $color-regular;
    cursor: pointer;
    user-select: none;
    background-color: $bg-bright;
    border: none;
    border-radius: 2pt;

    &::before {
      position: relative;
      display: inline-block;
      width: 12pt;
      margin-right: 12pt;
      content: "☐";
    }

    &[on] { background-color: $success-major; }
    &[on]::before { content: "🗹"; }
  }
}

/*
 * PLUGINS
 */

.tippy-tooltip {
  padding: 6pt 10pt;
  font-family: $font-major;
  font-size: 11pt;
  color: $color-regular;
  background-color: black !important;
}

.tippy-tooltip .tippy-roundarrow {
  fill: black;
}

.tippy-tooltip.invisible-theme {
  opacity: 0;
}

.tippy-tooltip[data-animation="vertical"][data-state="hidden"] {
  opacity: 0;
  transform: translateY(5px) scaleY(.95);
}

.tippy-tooltip t {
  color: $color-sub;
}

.tippy-tooltip d {
  font-family: $font-regular;
  color: $color-header;
}

.swal2-container {
  code {
    padding: 3pt;
    background-color: #00000011;
    border-radius: 3pt;
  }

  span {
    display: block;
    padding-bottom: 7pt;
    font-family: $font-regular;
    font-size: 12pt;
    text-align: left;
  }
}
