
/* COLORS */
$color-header: #ffffff;
$color-major: #eeeeee;
$color-regular: #dddddd;
$color-sub: #aaaaaa;
$color-minor: #777777;

// $backpage: #1f2023;
// $bg-bright: #37393e;
// $bg-brighter: #3e4046;
// $bg-dark: #181a1c;
// $bg-darker: #0c0d0e;

$backpage: #2a2530;
$bg-bright: #3e3842;
$bg-brighter: #473e49;
$bg-dark: #1c1b22;
$bg-darker: #0c0c0e;

$primary-orange: #F39807;
$primary-orange-trans: #F39807CC;
$primary-blue: #00D9FF;
$primary-blue-trans: #00D9FFCC;
$primary-pink: #FF0095;
$primary-pink-trans: #FF0095;

$error-major: #e43c26;
$warning-major: #d64955;
$warning-minor: #d6a949;
$info-major: #4a73a8;
$success-major: #3e9e71;


/* General */
$font-header: 'Montserrat 900', 'Roboto', sans-serif;
$font-major: 'Montserrat 600', 'Roboto', sans-serif;
$font-regular: 'Montserrat 400', 'Roboto', sans-serif;
$font-sub: 'Montserrat 400', 'Roboto', sans-serif;
$font-minor: 'Montserrat 400', 'Roboto', sans-serif;


/* Components */
$box-width: 400pt;
$box-border-radius: 5pt;
$box-outer-padding: 40pt;
$box-padding: 15pt;
$content-border-radius: 3pt;
$border: 1px solid #C5C5C5;


