
/* Responsive Key Dimensions */
$res-laptop-width: 1200px;
$res-laplet-width: 1000px;
$res-tablet-width: 800px;
$res-mobile-width: 450px;

/* at which width the sidebar gets collapsed */
$res-sidebar-collapse-width: $res-tablet-width;
/* at which width the sidebar gets turned into a menu button */
$res-sidebar-menu-width: $res-mobile-width;


/* Dynamic Properties */
:root {
  --color-header: #ffffff; //
  --color-major: #eeeeee; //
  --color-regular: #dddddd; //
  --color-sub: #aaaaaa; //
  --color-minor: #777777; //
  --color-border: #37393d;

  --backpage: #101318;
  --bg-light: #1b1f25; //
  --bg-lighter: #262a31; //
  --bg-dark: #0b0c10;
  --bg-darker: #000000;

  --box-outer-padding: 40pt;
  --box-padding: 15pt;
  --sidebar-width: min(280pt, 28vw);

  /** LAPTOP OVERRIDES */
  @media screen and (max-width: $res-laptop-width) {
    --box-outer-padding: 20pt;
  }

  /** LAPTOP-TAPLET OVERRIDES */
  @media screen and (max-width: $res-laplet-width) {
    --box-outer-padding: 10pt;
    --sidebar-width: 25vw;
  }

  /** TABLET OVERRIDES */
  @media screen and (max-width: $res-tablet-width) {
  }

  /** MOBILE OVERRIDES */
  @media screen and (max-width: $res-mobile-width) {
    
  }

  /** Sidebar collapse */
  @media screen and (max-width: $res-sidebar-collapse-width) {
    --sidebar-width: calc(27px + 8pt*2 + 5pt*2);
  }

  /** Sidebar collapse */
  @media screen and (max-width: $res-sidebar-menu-width) {
    --sidebar-width: 0;
  }
}



/* COLORS */
$color-header: var(--color-header);
$color-major: var(--color-major);
$color-regular: var(--color-regular);
$color-sub: var(--color-sub);
$color-minor: var(--color-minor);
$color-border: var(--color-border);

$backpage: var(--backpage); 
$bg-light: var(--bg-light); 
$bg-lighter: var(--bg-lighter); 
$bg-dark: var(--bg-dark); 
$bg-darker: var(--bg-darker); 

$color-red: #e43c26;
$color-yellow: #d6a949;
$color-blue: #4a73a8;
$color-green: #3e9e71;
$color-red-20: #e43c2644;
$color-yellow-20: #d6a94944;
$color-blue-20: #4a73a844;
$color-green-20: #3e9e7144;

/* @dep */ $primary-orange: #F39807; //
/* @dep */ $primary-orange-trans: #F39807CC; //
/* @dep */ $primary-blue: #00D9FF; //
/* @dep */ $primary-blue-trans: #00D9FFCC; //
/* @dep */ $primary-pink: #FF0095; //
/* @dep */ $primary-pink-trans: #FF0095; //

/* @dep */ $error-major: #e43c26; //
/* @dep */ $warning-major: #d64955; //
/* @dep */ $warning-minor: #d6a949; //
/* @dep */ $info-major: #4a73a8; //
/* @dep */ $success-major: #3e9e71; //


/* General */
$font-header: 'Montserrat 900', 'Roboto', sans-serif;
$font-major: 'Montserrat 600', 'Roboto', sans-serif;
$font-regular: 'Montserrat 400', 'Roboto', sans-serif;
$font-sub: 'Montserrat 400', 'Roboto', sans-serif;
$font-minor: 'Montserrat 400', 'Roboto', sans-serif;


/* Components */
$box-width: 400pt;
$box-br: 10pt;
$box-outer-padding: var(--box-outer-padding);
$box-padding: var(--box-padding);

$content-br: 6pt;
$content-height: 35pt;
$content-padding: 8pt;

$border: 1px solid #C5C5C5;
$sidebar-width: var(--sidebar-width);
$botnav-height: 50pt;

$zindex-loader: 200;
$zindex-popups: 150;
$zindex-sidebar: 100;
$zindex-app: 50;

